.aboutIntro{

    background-image: url(../img/aiintroImage.png);
    justify-content: center;
    text-align: center;
    align-content: center;
    
}


  .aboutIntro h1 {
    opacity: 90%;
    font-weight: 800;
    padding-top: 70px;
    
    font-size: 4rem;
  }

  .shortNote{
      width: 50%;
      margin: 10px 20px 10px 20px;
  }
