.aboutIntro{

    background-image: url(../img/aiintroImage.png);
    justify-content: center;
    text-align: center;
    align-content: center;
}

  .aboutIntro h1 {
    opacity: 90%;
    font-weight: 800;
    padding-top: 70px;
    font-size: 4rem;
  }

  .aboutIntro h3 {
      padding: 0;
      margin: 0;
      font-size: 2rem;
  }

  .shortNote{
      width: 50%;
      margin: 28px auto;
     padding: 28px;
  }

  .aboutIntro .pleaseContact {
      color: #fff;
      font-size: 1.2rem;
      padding: 10px;
  }

  .aboutIntro .emailID {
    color: #fff;
    font-size: 1rem;
    padding-bottom: 70px;
    font-weight: 800;
}

.aboutAI {
  text-align: center;
    color: rgb(0, 0, 0);
    align-items: center;
    justify-content: center;
    padding-bottom: 30px;
   
}

.aboutAI .aboutheading {
  font-size: 1.4rem;
  margin-top: 40px;
}

.grayLine {
  width: 100%;
  color: #d3d3d3;
}


.aboutAI img{
  height: 200px;
  width: 200px;
  margin: 20px 30%;
  padding: 10px;
  border: 1px #d3d3d3 solid;
}

.previousPrograms {
  color: #000;
  
  text-align: center;
  align-content: center;
  justify-content: center;
  padding-bottom: 30px;
}

.previousPrograms .heading {
  font-size: 1.4rem;
  margin-top: 40px;
}
