@font-face {
    font-family: 'Cocogoose Pro trial';
    src: url('../fonts/Cocogoose\ Pro-trial.ttf');
  }
  
  body {
    font-family: 'lato', Arial, Helvetica, sans-serif !important;
  }

  section hr {
    width: 33px;
    border: 1px #ec5242 solid;
  }

  .navbar {
    padding: 0;
  }
  
  .nav-bar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    z-index: 2;
    box-shadow: 0 3px 5px 0 rgba(131, 129, 129, 0.432);
    padding: 5px;
  }
  
  .navbar-toggler {
    margin: 10px;
  }
  
  .logo-nav {
    width: 40px;
    margin-top: 10px;
    filter: drop-shadow(0 0 0 rgb(1, 109, 250));
    border: 1px solid;
    margin-bottom: 10px;
    border-image-slice: 1;
    border-image-source: linear-gradient(to left, #5ab8f7, #040270);
  }
  
  .nav-options {
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
    align-items: center;
  }
  
  .nav-options li {
    margin-right: 50px;
    font-size: 1.4rem;
    font-weight: 900;
  }

  .nav-options a {
    text-decoration: none;
    color: black;
  }
  
  .nav-options a:hover {
    text-decoration: underline;
    color: #ec5242;
  }

  /* Universal Settins */

  .width-551 {
    width: 551px;
  }

  .color-orange {
    color: #ec5242;
  }

  .stayUp {
    z-index: 9;
    position: relative;
  }

  .font-cocogoose {
    font-family: 'Cocogoose Pro trial', Arial, Helvetica, sans-serif; 
  }

  .setMargin {
    margin: 0 auto 5px 15%;
    font-size: 2rem;
  }

  .bgCover {
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: relative;
  }
  


  /*Introducction Section*/

  .introduction {
    background-image: url(../img/aiintroImage.png);
  }

  .introduction h1 {
    opacity: 90%;
    font-weight: 800;
    padding-top: 30px;
    margin: 0 auto 0 15%;
    font-size: 4rem;
  }

  .layoverBlack {
    background-color: rgba(0, 0, 0, 0.616);
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 1;
    top: 0;
  }

  .layoverBlack-max {
    background-color: rgba(0, 0, 0, 0.825);
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 1;
    top: 0;
  }

  .shortNote {
    padding: 20px;
    font-size: 1.2rem;
    background: rgba(45, 181, 235, 0.4);
    border: 2px solid;
    text-align: justify;
    color: #fff;
    border-image-slice: 1;
    border-image-source:
    linear-gradient(to left, #5ab8f7, #040270);
  }

  .dateRange {
    font-weight: 850;
    color: #fff;
  }

  .Venue {
    font-size: 1.4rem;
    color: #fff;
    padding-bottom: 90px;
    margin-bottom: 0;
  }


  /* Progam Information */

  .programInfo {
    background-image: url(../img/aiSummitProgram.jpeg);
    text-align: center;
    color: #fff;
  }

  .programInfoTitle {
    margin: 0 auto;
    padding-top: 28px;
  }

 .programDetails {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  margin-top: 40px;
 }

 .programDetails article {
   background: rgba(255, 255, 255, 0.1);
   padding: 10px;
   margin: 5px;
   border-radius: 5px;
   width: 17%;
 }

 .programDetials i {
   margin: 5px auto;
 }

 .programDetails article h5 {
  margin: 15px auto 5px;
  font-size: 1rem;
 }

 .programDetails article small {
   text-align: justify;
 }

 .view-more-program {
   margin-top: 20px;
   padding-bottom: 20px;
 }

 .view-more-program .all-program {
   color: #fff;
   text-transform: uppercase;
 }

 .view-more-program a:hover {
   text-decoration:underline;
 }

 /* Speakers Section Styling */

 .speakers {
   
 }

 





  @media only screen and (max-width: 768px) {
    body {
      overflow-x: hidden;
    }
  
    .width-551 {
      width: 90%;
    }
  
    .flex {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  
    .nav-bar {
      box-shadow: none;
    }
  
    .nav-options li {
      margin: 10px;
    }
  }